{extends "../@layout.latte"}
{block content}
    <header>
        <h1>Kategorie {$category_name}</h1>
    </header>
    <ul n:if="$products">
        <li n:foreach="$products as $product">
            <a href="category/{$product["dash_name"]}">{$product["name"]}</a>
        </li>
    </ul>
{/block}