.cart-products {
  position: absolute;
  z-index: 10;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0ms;
  transition-delay: 600ms;
  display: flex;
  flex-flow: column;
}

.cart-products > div {
  width: 100%;
}

.cart-container {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
}

.cart-container:hover .cart-products {
  top: 100px;
  visibility: visible;
  opacity: 1;
  transition-property: visibility, opacity;
  transition-duration: 0ms;
  transition-delay: 0ms;
}