{extends "../@layout.latte"}

{block content}
    <div>
        <h1>Změna hesla</h1>
        {$changePasswordForm->render()}
    </div>
    <div>
        <h1>Změna hesla</h1>
        {$changePasswordForm->render()}
    </div>
{var_dump($user)}
{/block}