<!DOCTYPE html>
<html lang="cs-cz">

<head>
    <base href="/eshopZaklad" />
    <meta charset="UTF-8" />
    <title>{ifset $head['title']}{$head['title']}{else}Základní title{/ifset}</title>
    <meta name="description" content="{$head["description"]}" />
    <meta name="keywords" content="{$head["keywords"]}" />
    <link rel="stylesheet" href="www/styles/minified/{$head["css"]."?v=".time()}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    {block head}{/block}
</head>

<body>
<header>
    <nav>
    {*include "nav.latte"*}
    </nav>
</header>

<article>
    {include content}
</article>

<footer>
  {*include "footer.latte"*}
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="www/scripts/minified/{$head["js"]."?v=".time()}"></script>
{block scripts}{/block}
</body>

</html>