<!DOCTYPE html>
<html lang="cs-cz">

{include "head.latte"}

<body>
<header>
    {include "nav.latte"}
</header>
{foreach  $flashes as $flash}
    <div class="flashMessage {$flash["type"]}">{$flash["message"]}</div>
{/foreach}
<article>
    {include content}
</article>

{include "footer.latte"}
</body>

</html>