<nav>
    {ifset $_SESSION["user"]}
    Přihlášený uživatel: {$_SESSION["user"]->username}<br>
    Oprávnění: {$_SESSION["user"]->role_name}
    {/ifset}
    <ul>
        <li>
            <a href="sign/in">Přihlásit</a>
            <a href="sign/up">Registrovat</a>
            <a href="sign/out">Odhlásit</a>
        </li>
    </ul>
</nav>